* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  max-width: 100%;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
}


button,
label,
select,
summary,
[role='button'] {
  cursor: pointer;
}

input,
button,
optgroup,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}




body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
 min-height: 100vh;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
}

.ejercicios-container{
display: flex;
flex-direction: column;
gap: 30px;
}



